.aside {
    display: flex;
    flex-direction: column;
    gap: 80px;
    border-radius: 8px;
    background: #171d1f;
    padding: 40px 16px;
    height: 100%;
    align-items: center;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 0;
    padding: 0;
}