.aside {
    display: flex;
    flex-direction: column;
    gap: 80px;
    border-radius: 8px;
    background: #171d1f;
    padding: 40px 16px;
    height: 100%;
    align-items: center;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 0;
    padding: 0;
}

.btn {
    border-radius: 8px;
    background: #81FE88;
    padding: 12px 16px;
    cursor: pointer;
    border: none;

    color: #132E35;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    text-decoration: none;
}

.btn:visited {
    color: inherit;
}

.btn:hover {
    opacity: 0.6;
}