.comment {
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.section {
    display: flex;
    gap: 8px;
    align-items: center;
}

.userInfo {
    display: flex;
    align-items: center;
}

.section strong {
    font-weight: 600;
    font-size: 15px;
    line-height: 150%;
    color: #171D1F;
}

.section p {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    color: #171D1F;
}

.reply {
    cursor: pointer;
}

.reply strong {
    font-weight: 600;
    font-size: 15px;
    line-height: 150%;
    color: #171D1F;
}